<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>username</key>
		<string>#ewfwqf</string>
		<key>nikename</key>
		<string>321</string>
		<key>userID</key>
		<string>4455</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>吕轻侯</string>
		<key>nikename</key>
		<string>侯哥</string>
		<key>userID</key>
		<string>yun</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>白展堂</string>
		<key>nikename</key>
		<string>小白</string>
		<key>userID</key>
		<string>zhanzhan</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>月月</string>
		<key>nikename</key>
		<string>妞</string>
		<key>userID</key>
		<string>yue</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>婷婷</string>
		<key>nikename</key>
		<string>婷姐</string>
		<key>userID</key>
		<string>ting</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>灰灰</string>
		<key>nikename</key>
		<string>小灰灰</string>
		<key>userID</key>
		<string>huli</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>洋洋</string>
		<key>nikename</key>
		<string>咩</string>
		<key>userID</key>
		<string>12333</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>也有风</string>
		<key>nikename</key>
		<string>傻妞</string>
		<key>userID</key>
		<string>22222</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>留文胆</string>
		<key>nikename</key>
		<string>胆小</string>
		<key>userID</key>
		<string>wenzi</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>流过瓶</string>
		<key>nikename</key>
		<string>拖油瓶</string>
		<key>userID</key>
		<string>44444</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>蛇精病</string>
		<key>nikename</key>
		<string>蛇精</string>
		<key>userID</key>
		<string>66600</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
	<dict>
		<key>username</key>
		<string>犯贱</string>
		<key>nikename</key>
		<string>小贱贱</string>
		<key>userID</key>
		<string>121121</string>
		<key>avatarURL</key>
		<string>bottleBkg</string>
	</dict>
</array>
</plist>
